.parentField {
  display: flex;
  flex-direction: column;
}

label {
  color: rgb(102, 102, 102);
  font-size: 10pt;
}

.field {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
  border-radius: 7px;
  height: 1.8rem;
  width: 100%;
  box-sizing: border-box;
}

.wrapperFormButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

.wrapperWrapperFormButtons {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.buttonEditUser {
  height: 100%;
  background-color:darkviolet;
  outline: none;
  border: none;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
}

.itemBar {
    display: flex;
    flex-direction: column;
    text-decoration-line: none;
    height: 100%;
    background-color:darkviolet;
}

.barEditUser {
    padding-left: 1rem;
    font-weight: 600;
}

.saveButton {
    height: 2rem !important;
    border-radius: 3px;
    width: 100%;
}

input.saveButton:hover {
    color: rgb(220, 210, 224);
}

input.saveButton:focus-visible {
    color: rgb(220, 210, 224);
}

@media (min-width: 410px) and (max-width: 650px) {
  .wrapperFormButtons {
    width: 70%;
  }

  .field {
    margin-top: 0.2rem;
    margin-bottom: 0.7rem;
    /* height: 1.6rem; */
  }
}

.navlinksWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

@media (max-width: 419px) {
  .wrapperFormButtons {
    width: 85%;
  }

  .field {
    margin-top: 0.15rem;
    margin-bottom: 0.7rem;
    height: 1.7rem;
  }

  .wrapperBar {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .navlinksWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .itemBar {

    width: 100%;
    padding-bottom: 0.55rem;
    padding-top: 0.55rem;
    border-top: 1px solid rgb(138, 1, 197);
  }
}

@media (max-width: 280px) {
  label {
    font-size: 5.2vw;
  }

  .barEditUser {
    font-size: 5.9vw;
    padding-left: 0px;
  }

  .buttonEditUser {
    font-size: 5.6vw;
  }

  .field {
      font-size: 5.5vw;
      height: 1.6rem;
      width: 100%;
      
  }

  .wrapperWrapperFormButtons {
    margin-right: 0.15rem;
    margin-left: 0.15rem;
  }
}
