/* .divWrapperWrapperUl {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.divWrapperUl {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-top: 2.2rem;
    padding-left: 0px;
}

li {
    padding-top:0.5rem;
}

.userAdress {
    padding-left: 0px;
}

.bar {
    font-size: 14pt;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 1rem;
    font-weight: 600;
    border-right: 1px solid rgb(129, 0, 184);
}

.wrapperBar {
    height: 3.2rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(129, 0, 184);
    margin: 0px;
}

.wrapperNavLinks {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: darkviolet;
}

.buttonBar {
    height: 100% !important; 
    background-color: darkviolet;
    border: 0px;
    padding-left: 1rem;
    padding-right: 0.8rem;
    font-weight: 600;
}

button:hover {
    color: rgb(220, 210, 224);
}

.liUser {
    border: 1px solid #e5e5e5;
    padding: 0.3rem;
    background-color: #f3f3f3;
    color:  #6d039b;
}


@media (min-width: 445px) and (max-width: 670px) {
    .bar {
        /* font-size: 3.3vw; */
        padding-left: 1.3rem;
        padding-right: 1rem;

        font-size: 13pt;
    }

    .buttonBar {
        padding-left: 0.8rem;
        padding-right: 0rem;

    }
    .ul {
        padding-top: 1.4rem;
    }
}

@media (max-width: 450px) {
    .bar {
        font-size: 12pt;
        padding-left: 0.8rem;
        padding-right: 0.8rem;

    }

    .buttonBar {
        /* font-size: 8pt; */
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    .ul {
        padding-top: 0.8rem;
    }

}

@media (max-width: 419px) {
    .bar {
        border-right: none;
    }
    .wrapperBar {
        display: flex;
        justify-content: center;
    }

    .wrapperNavLinks {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .navlinksUser {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        text-decoration: none;
        border-top: 1px solid rgb(130, 2, 185);
        width: 100%;
    }

    .ul {
        width: 100%;
    }

    .liUser {
        padding-left: 1rem;
    }

}

@media (max-width: 290px) {
    .bar {
        font-size: 5.8vw;
    }

    .buttonBar {
        font-size: 5.7vw;
    }

    .liUser {
        font-size: 5.5vw;
    }
}
