/* .divWrapperWrapperUl {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.divWrapperUl {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}

.ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-top: 2.2rem;
}

li {
    padding-top:0.5rem;
}

.userAdress {
    padding-left: 0px;
}

.bar {
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    /* color: #c30038; */
    font-weight: 600;
}

.wrapperBar {
    height: 3.2rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: darkviolet;
    /* background-color: rgb(24, 24, 24); */
    margin: 0px;
}

.wrapperNavLinks {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.buttonBar {
    height: 100% !important; 
    font-size: 1.8vw;
    background-color: darkviolet;
    /* background-color: rgb(24, 24, 24); */
    border: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    /* color: #a70035; */
    /* color: #85002a; */
    font-weight: 600;
}

/* .NavLink {
    height: 100%;
} */
button:hover {
    color: rgb(220, 210, 224);
    /* color: #db0047; */

}

.liUser {
    /* border: 1px solid #d1d1d1;
    padding: 0.3rem; */
    border: 1px solid #e5e5e5;
    padding: 0.3rem;
    background-color: #f3f3f3;
    color:  #6d039b;

    /* background-color: #a3a3a3; */
    /* border: 1px solid #161616;
    padding: 0.3rem;
    background-color: #1e1e1e; */
    /* color: #ab8a94; */
    /* width: 50%; */
}

/* p.liUser {
    margin-bottom: 33px !important;
} */

@media (min-width: 450px) and (max-width: 670px) {
    .bar {
        font-size: 3.3vw;
    }

    .buttonBar {
        font-size: 2.4vw;
        padding-left: 0rem;
        padding-right: 1rem;
    }
    .ul {
        padding-top: 1.4rem;
    }
}

@media (max-width: 449px) {
    .bar {
        font-size: 4vw;
    }

    .buttonBar {
        font-size: 3vw;
    }

    .ul {
        padding-top: 0.8rem;
    }
}